body {
    background-color: #e0ccbc;
<<<<<<< HEAD
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
=======
    margin: 0;
>>>>>>> 76565e32c5c731f42f30e0a507598caf12281b10
}

.search {
    background-color: #9e938b;
    background-image: url('images/search-icon-png-21.png');
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: auto 70%;
    border-radius: 6px;
    padding: 15px;
    margin: 15px;
    position: absolute;
    top: 55%;
    left: 10%;
    right: 90%;
    width: 20%;
    height: 13%;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid white;
    transition: background-position 0.5s ease-in-out;
    color: aquamarine;
    transform: translateY(-100%);
}

.search:hover {
<<<<<<< HEAD
    border-color: black;
    background-position: 50%;
=======
        border-color: black;
        background-position: 50%;
>>>>>>> 76565e32c5c731f42f30e0a507598caf12281b10
}

.header {
    background-color: white;
<<<<<<< HEAD
    height: 110px;
=======
    height: 15%;
    margin: 0;
>>>>>>> 76565e32c5c731f42f30e0a507598caf12281b10
    position: relative;
}

:root {
<<<<<<< HEAD
    --primary-color: #f4f4f4;
    --secondary-color: #ccc;
=======
    --primary-color: #f4f4f4; 
    --secondary-color: #ccc; 
>>>>>>> 76565e32c5c731f42f30e0a507598caf12281b10
}

.btn {
    background-color: var(--primary-color);
    border: none;
    padding: 15px 30px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
}

.btn.secondary {
    background-color: var(--secondary-color);
}

.right-left {
    top: 50%;
    right: 10%;
}
<<<<<<< HEAD

=======
>>>>>>> 76565e32c5c731f42f30e0a507598caf12281b10
.right-right {
    top: 50%;
    right: 5%;
}

<<<<<<< HEAD
.center {
    top: 500px;
    left: 50%;
}

=======
>>>>>>> 76565e32c5c731f42f30e0a507598caf12281b10
.btn:hover {
    background-color: #757272;
    color: #4ced67;
}

.btn.secondary:hover {
    background-color: #4ced67;
    color: black;
<<<<<<< HEAD
}

.user_creation_frame {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 15px;
    position: fixed;
    top: 100px;
    left: 10%;
    right: 10%;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.input_form {
    padding: 15px;
}

.input_form input[type="email"] {
    border-radius: 10px; 
    border: 1px solid #ccc; 
    padding: 10px; 
}

.input_form input[type="text"] {
    border-radius: 10px; 
    border: 1px solid #ccc; 
    padding: 10px; 
}

.input_form input[type="password"] {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px; 
=======
>>>>>>> 76565e32c5c731f42f30e0a507598caf12281b10
}