{% extends 'blog/main.html'%}

{% block title %}Login{% endblock %}

{% block content %}

<div class="user_creation_frame ">
    <form action="{% url 'login'%}" method="post">
        {% csrf_token %}

        {% if form.errors.username %}
        <div class="input_form_error">
            <input type="text" placeholder="{{form.username.label}}" name="username" /><br>
        </div>
        {% else %}
        <div class="input_form">
            <input type="text" placeholder="{{form.username.label}}" name="username" /><br>
        </div>
        {% endif %}

        {% if form.errors.password %}
        <div class="input_form_error">
            <input type="password" placeholder="{{form.password.label}}" name="password" /><br>
        </div>
        {% else %}
        <div class="input_form">
            <input type="password" placeholder="{{form.password.label}}" name="password" /><br>
        </div>
        {% endif %}

        <button class="btn secondary center" type="submit">submit</button>

        <div class="creation_errors">
            <h2>{{form.errors}}</h2>
        </div>

        <a href="{% url 'password_reset' %}"><button class="btn right-left primary">Forgot password?</button></a>

    </form>
</div>



{% endblock %}