<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Main page{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>

    <div class="header">
        <div class="search">
    		<a>Що бажаєте знайти ?</a>
        </div>
        <button class="btn right-left">Register</button>
        <button class="btn secondary right-right">Log in</button>
    </div>



    {% if user.is_authenticated %}
    <h3>{{ user }}</h3>
    <h3> User is authenticated</h3>
    {% else  %}
    <h3> User is not authenticated</h3>
    {% endif %}


    {% block content %}{% endblock %}
</body>
</html>