<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Main page{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>

    <div class="header">
        <div class="search">
            <a>Що бажаєте знайти ?</a>
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"><button class="btn right-left primary">Logout</button></a>
        {% if user.icon == "" %}
        <a href="{% url 'user-information' user.username %}">
            <img src="{% static '/images/anonymous-user-icon-2.jpg' %}" class="user_icon_main_page" />
        </a>
        {% else %}
        <a href="{% url 'user-information' user.username %}">
            <img src="{% static '/upload/{{user.icon}}' %}" class="user_icon_main_page" />
        </a>
        {% endif %}
        {% else  %}
        <a href="{% url 'register' %}"><button class="btn right-left primary">Register</button></a>
        <a href="{% url 'login' %}"><button class="btn right-right secondary">Log in</button></a>
        {% endif %}
    </div>


    {% block content %}{% endblock %}
</body>
</html>