{% extends 'blog/main.html'%}

{% block title %}Update your data{% endblock %}

{% block content %}

{% load static %}

<body>

    <form action="{% url 'user-information-save' user.username %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="user_information_for_update">

        {% if user.icon == "" %}
            <img id="image-preview" src="{% static '/images/anonymous-user-icon-2.jpg' %}" class="user_icon_info_page" />
        {% else %}
            <img id="image-preview" src="{% static 'upload/user_icon/'%}{{user.icon}}" class="user_icon_info_page" />
        {% endif %}

    <br>
    <br>

    <input type="file"
           id="file-input"
           name="icon"
           accept="image/png, image/jpeg"/>

        <br>
        <br>

    <div class="input_form">
                <input type="text" value="{{user.username}}" name="username" /><br>
    </div>

    <div class="input_form">
                <input type="text" value="{{user.first_name}}" name="first_name" /><br>
    </div>

    <div class="input_form">
                <input type="text" value="{{user.last_name}}" name="last_name" /><br>
    </div>

    <textarea placeholder="Here must be your bio" id="bio_area" maxlength="800" name="biography" class="input_biography">{{user_data.0.biography}}</textarea>
    <div id="bio_count">0 / 800 symbols</div>

        <br>
        <br>

    <textarea placeholder="Here must be your targets" id="targets_area" maxlength="200" name="targets" class="input_targets">{{user_data.0.targets}}</textarea>
    <div id="targets_count">0 / 800 symbols</div>

        <br>
        <br>

    <button type="submit" class="btn_invisible">Save changes</button>

    <br>
    <br>

        <div>
            <a href="{% url 'user-information' user.username %}" style="color: black; text-decoration: none;">Cancel</a>
        </div>

    </div>

    </form>


</body>
{% endblock %}